$first-font: "Montserrat", Arial, serif;
$second-font: "Kaushan Script", Arial, serif;
$third-font: 'Roboto', Arial, serif;

$header-text-color: #fff;
$primary-text-color: #333;
$secondary-text-color: #999;

$social-icons: #f38181e6;
$social-icons-active: #fff;

$first-bg-color: #fce38a;
$first-bg-color-rgba: rgba(252, 227, 138, 0.9);
$second-bg-color: #f38181;
$second-bg-color-rgba: rgba(243, 129, 129, 0.9);
$third-bd-color: #95e1d3;
