.team {
  text-align: center;

  &__desc {
    display: inline-block;
    margin: 0 0 90px 0;
    padding: 0;
    width: 980px;
    font-family: $third-font;
    font-size: 15px;
    line-height: 24px;
    color: $secondary-text-color;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}
